.App {
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 2rem;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  min-width: 200px; 
  max-width: 240px; 
  text-align: center;
}

.pokemon-card img {
  width: 120px;
  height: 120px;
  margin-bottom: 1rem;
}

.pokemon-card h2 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0.5rem 0;
}

.pokemon-card p {
  margin: 0.2rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  overflow-x: hidden;
}

.background-pokeball1 {
  position: fixed;
  top: -400px;
  right: -400px; 
  width: 1000px; 
  height: 1000px; 
  background-image: url('pokeball.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotatePokeball 10s linear infinite;
  z-index:-1 ;
}

.background-pokeball2 {
  position: fixed;
  bottom: -150px;
  left: -150px; 
  width: 500px; 
  height: 500px; 
  background-image: url('pokeball.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotatePokeball 10s linear infinite;
  z-index:-1 ;
}

@keyframes rotatePokeball {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}